.home {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 100%;
}

.home-intro {
	display: flex;
	padding: 30px;
}

.home-content {
	font-size: 24px;
	padding: 20px;
}

.home-tech {
	max-width: 30%;
	max-height: 40%;
	padding: 20px;
	border-radius: 50px;
}

.technologies {
	text-align: center;
	background-color: #f3f4f6;
	padding: 20px;
	justify-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tech-heading {
	font-size: 36px;
	font-weight: 700;
	padding: 10px;
}

.tech-content {
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	padding: 20px;
	max-width: 70%;
}

.project {
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.project-heading {
	font-size: 36px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
}

.project-contend {
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	padding: 20px;
	max-width: 70%;
	align-self: center;
}

.project-button {
	background-color: #3d9b51;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 22px;
	font-weight: 500;
	padding: 10px;
	cursor: pointer;
	max-width: fit-content;
	margin: auto;
	display: flex;
}

.project-button:focus {
	outline: none;
}

.certificate-link {
	margin-left: 40%;
}

@media screen and (max-width: 768px) {
	.home-intro {
		display: block;
	}

	.home-tech {
		display: none;
	}

	.home-intro {
		padding: 7px;
	}

	.home-content {
		padding: 10px;
		font-size: 19px;
	}

	.technologies {
		padding: 5px;
	}

	.tech-heading {
		padding: 5px;
	}

	.tech-content {
		max-width: 95%;
		font-size: 22px;
	}

	.project-contend {
		padding: 7px;
		max-width: 95%;
		font-size: 22px;
	}

	.certificate-link {
		margin-left: 25%;
	}
}
